
<div ng-app="ngBoilerplate.articles" ng-controller="ArticlesCtrl">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <h1 class="page-header">
        Articles
        <!--<small>For the lazy and impatient.</small>-->
    </h1>
    <div class="jumbotron">
        <div class="row">

        </div>
        <div class="btn-group pull-left" role="group" aria-label="...">
            <button type="button" class="btn btn-primary" ng-click="refreshArticles()">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh
            </button>
            <button type="button" class="btn btn-success" ng-click="">
                <span class="glyphicon glyphicon-plus"></span>
                Add
            </button>
            <button type="button" class="btn btn-danger" ng-click="">
                <span class="glyphicon glyphicon-minus"></span>
                Remove
            </button>
        </div>
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Image</th>
                </tr>
            </thead>
 
            <tbody >
            <tr ng-repeat="article in articles" >
                <td> <img src="{{article.picture}}" /></td>
                    <td>{{article.id}}</td>
                    <td>{{article.code}}</td>

                    <td><a class="btn btn-primary" ng-click="getArticleDetails(article)"> details</a>  </td>
 
                </tr>
            </tbody>
        </table>
    </div>


    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

</div>

