
<div ng-app="ngBoilerplate.articles" ng-controller="ArticlesCtrl">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="ng-infinite-scroll.js"></script>

    <h1 class="page-header">
        Articles
        <!--<small>For the lazy and impatient.</small>-->
    </h1>
    <div class="jumbotron">
        <div class="row">

        </div>
        <div class="btn-group pull-left" role="group" aria-label="...">
            <button type="button" class="btn btn-primary" ng-click="refreshArticles()">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh
            </button>
            <button type="button" class="btn btn-success" ng-click="addArticle()">
                <span class="glyphicon glyphicon-plus"></span>
                Add
            </button>
            <button type="button" class="btn btn-danger" ng-click="">
                <span class="glyphicon glyphicon-minus"></span>
                Remove
            </button>
        </div>
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Id</th>
                    <th>Code</th>
                    
                </tr>
            </thead>

            <!--<tbody>
                <tr ng-repeat="article in articles" ng-click="articlesDetail(article.id)" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
                    <td>{{article.id}}</td>
                    <td>{{article.code}}</td>-->
            <!--<td> <img src="{{article.picture}}" class="p" /></td>-->


            <tbody>
                <tr ng-repeat="article in articles">
                    <td> <img src="{{article.picture}}" class="p" /></td>
                    <td>{{article.id}}</td>
                    <td>{{article.code}}</td>

                    <td><a class="btn btn-primary" ng-click="getArticleDetails(article)"> details</a>  </td>


                </tr>
            </tbody>
        </table>

    </div>

    <style>
        .p {
            max-width: 200px;
        }
    </style>
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

</div>

