<div class="jumbotron">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-repeat="orderHeader in orders" class="active">
                <a href="">{{orderHeader.numerator}}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{order.numerator}}</h1>
<p>{{id}}</p>
        <div class="col-md-6">
            {{order.customer}}
        </div>
        <div class="col-md-6">
            {{order.email}}
        </div>
        <p>Elements list</p>
        <div class="row">
            <div class="col-md-3">
                <a href="" ng-click="predicate = 'code'; reverse=!reverse">Code</a>
            </div>
            <div class="col-md-3">
                <a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a>
            </div>
            <div class="col-md-3">
                <a href="" ng-click="predicate = 'price'; reverse=!reverse">Price</a>
            </div>
            <div class="col-md-3">
                <a href="" ng-click="predicate = 'quantity'; reverse=!reverse">Quantity</a>
            </div>
        </div>
        <div class="row" ng-repeat="element in order.items | orderBy:predicate:reverse">
            <div class="col-md-3">{{element.code}}</div>
            <div class="col-md-3">{{element.name}}</div>
            <div class="col-md-3">{{element.price}}</div>
            <div class="col-md-3">{{element.quantity}}</div>
        </div>
    </div>
</div>

<style>
    .nav-sidebar {
        margin-right: -21px;
        margin-bottom: 20px;
        margin-left: -20px;
    }
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0px;
        left: 0px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #F5F5F5;
        border-right: 1px solid #EEE;
    }
        [class*="col-"] {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #563d7c;
        background-color: rgba(86, 61, 124, 0.15);
        border: 1px solid #563d7c;
        border: 1px solid rgba(86, 61, 124, 0.2);
        min-height: 52px;
    }
</style>

