<style type="text/css">
    .customer-list-item:hover {
        background-color: #D4F3E9;
    }
</style>

<div class="row">
	<h1 class="page-header">
		List of customers
	</h1>

    <div class="input-group" style="margin-bottom: 20px;">
        <input ng-model="customerFilter" class="form-control" type="text" placeholder="Customer name" autofocus>

        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
        </span>
    </div><!-- /input-group -->

    <div class="list-group">
        <div class="row">
            <div class="col-md-4">Name</div>
            <div class="col-md-4">Email</div>
            <div class="col-md-2">Age</div>
        </div>
        <div ng-repeat="customer in customers | filter:customerFilter" class="row customer-list-item" ng-click="openDetails(customer.Id)">

            <div class="col-md-4">

                <a href="#/customers/{{customer.Id}}">
                    {{customer.Name}}
                </a>

            </div>

            <!-- <div class="col-md-4">{{customer.Name}}</div> -->
            <div class="col-md-4">{{customer.Email}}</div>
            <div class="col-md-2">{{customer.Age}}</div>
            <!-- <button class="col-md-2" ng-click="openDetails($index)">See details</button> -->
        </div>
    </div>
</div>

