<div class="jumbotron">
    <h1>Sales order list</h1>

    <p class="lead">
        List of orders
    </p>
    <div class="row">
        <div class="col-md-2">
            <a href="" ng-click="predicate = 'numerator'; reverse=!reverse">Numerator</a>
        </div>
        <div class="col-md-3">
            <a href="" ng-click="predicate = 'customer'; reverse=!reverse">Customer</a>
        </div>
        <div class="col-md-2">
            <a href="" ng-click="predicate = 'value'; reverse=!reverse">Value</a>
        </div>
        <div class="col-md-5">Tags</div>
    </div>
    <div class="row" ng-repeat="order in orders | orderBy:predicate:reverse">
        <div class="col-md-2">
            <a ng-click="showOrderDetails(order)">{{order.numerator}}</a>
        </div>        
        <div class="col-md-3">{{order.customer}}</div>
        <div class="col-md-2">{{order.value}}</div>
        <div class="col-md-5">
            <a href="" ng-repeat="tag in order.tags">{{"#" + tag + " " }}</a>
        </div>
    </div>
    <!--<div class="row">
            <div style="background-color: green" class="col-md-6 col-md-offset-5">
                abc
            </div>
        </div>-->
</div>

<style>
    
  [class*="col-"] {
      padding-top: 15px;
    padding-bottom: 15px;
      background-color: #563d7c;
      background-color: rgba(86, 61, 124, 0.15);
      border: 1px solid #563d7c;
      border: 1px solid rgba(86, 61, 124, 0.2);
  }
</style>