<div class="jumbotron">
    <h1>Sales order list</h1>

    <p class="lead">
        List of orders
    </p>
    <div class="row">
        <div class="ui-table-cell-visible">
            <a href="" ng-click="predicate = 'numerator'; reverse=!reverse">Numerator</a>
        </div>
        <div class="ui-table-cell-visible">
            <a href="" ng-click="predicate = 'value'; reverse=!reverse">Value</a>
        </div>
    </div>
    <div class="row" ng-repeat="order in orders | orderBy:predicate:reverse">
        <div class="ui-table-cell-visible">{{order.numerator}}</div>
        <div class="ui-table-cell-visible">{{order.value| currency: "PLN" : 0}}</div>
    </div>
</div>
